<%= form_for @preset_template, url: url_for_plugit(preset_templates_path), html: {role: "form" } do |f| %>
<input type="hidden" name="csrfmiddlewaretoken" value="{~__PLUGIT_CSRF_TOKEN__~}"/>
<div class="form-group">
<%= f.label 'Preset type: ' %>
<%= f.select :preset_type, preset_types_for_select, class: "form-control" %><br/>
</div>

<div class="form-group">
<%= f.label 'Description: ' %>
<%= f.text_field :description, placeholder: "Description for template, e.g. 'Basic video preset'.", class: "form-control", data: { required: true } %><br/>
</div>

<div class="form-group">
<%= f.label 'Template text: ' %>
<span id="prefill_buttons"></span>
<%= f.text_area :template_text, placeholder: "Template for preset. Write your own settings or use one of the pre-fill buttons as a starting point.", class: "form-control", rows: 5, data: { required: true } %><br/>
</div>

<%= link_to "Cancel", preset_templates_path, class: "btn btn-default" %>
<%= f.submit class: "btn btn-primary", value: "Save" %>

<% end %>
