<tr>
  <td><%= referenced_preset_template.id %></td>
  <td><%= referenced_preset_template.description %></td>
  <td><%= human_readable_preset_type referenced_preset_template %></td>
  <td class="hidden-xs"><%= l referenced_preset_template.created_at, :format => :long %></td>
  <td><%= formatted_owner(referenced_preset_template.user) %></td>
</tr>