<tr>
  <td><%= encoding_job.id %></td>
  <td><%= encoding_job.description %></td>
  <td><%#= tags_for encoding_job.tags %></td>
  <td><%= time_ago_in_words encoding_job.created_at %> ago</td>
  <td><%= formatted_owner(encoding_job.user) %></td>
  <td>
    <%= link_to('Play now', play_encoding_job_path(encoding_job), class: 'btn btn-primary btn-sm') %>
    <%= link_to 'Raw MPD', raw_mpd_url(encoding_job) %>
  </td>
</tr>