<tr>
  <td><%= reference_encoding_job.id %></td>
  <td><%= reference_encoding_job.description %></td>
  <td><%= time_ago_in_words reference_encoding_job.created_at %> ago</td>
  <td><%= formatted_owner(reference_encoding_job.user) %></td>
  <td>
    <%= plugit_link_to_play(reference_encoding_job) %>
    <%= plugit_link_to_mpd(reference_encoding_job) %>
  </td>
</tr>