<%= form_for @encoding_job, html: {role: "form" } do |f| %>
<div class="form-group">
<%= f.label 'Description: ' %>
<%= f.text_field :description, placeholder: "Description for job, e.g. 'Test adaptive 3 variants'.", class: "form-control" %><br/>
</div>

<div class="form-group">
<%= f.label 'Variant jobs: ' %>
(N/A)
</div>

<div class="form-group">
<%= f.label 'Post processing: ' %>
<%= f.select :post_processing_template, post_processing_templates_for_select, class: "form-control" %><br/>
</div>

<%= link_to "Cancel", encoding_jobs_path, class: "btn btn-default" %>
<%= f.submit class: "btn btn-primary", value: "Save" %>

<% end %>
