<%= form_for @encoding_job, url: url_for_plugit(encoding_jobs_path), html: {role: "form" } do |f| %>
<input type="hidden" name="csrfmiddlewaretoken" value="{~__PLUGIT_CSRF_TOKEN__~}"/>
<div class="form-group">
<%= f.label 'Description: ' %>
<%= f.text_field :description, placeholder: "Description for job, e.g. 'Test adaptive 3 variants'.", class: "form-control", data: { required: true } %><br/>
</div>

<div class="form-group">
<%= f.label 'Device playout tags: ' %>
<span><em>These tags indicate the devices you are targetting with this encoding job (e.g. phones, tables, etc.).</em></span>
<%= checkboxes_for_tags f, :device_playout_tags, Tag.encoding_job_device_playout %>
</div>

<hr>

<div class="form-group">
<%= f.label 'Specification tags: ' %>
<span><em>These tags indicate what kind of specifications you are targetting (e.g. DVB, HbbTV).</em></span>
<%= checkboxes_for_tags f, :specification_tags, Tag.encoding_job_specification %>
</div>

<div class="panel panel-default" id="variant_jobs_list">
  <div class="panel-heading">
    <strong>Variant jobs</strong> <%= link_to_add_variant_job('Add encoding variant', f, @encoding_job) %>
  </div>
  <div class="panel-body"><em>Specify at least one variant job.</em></div>
  
  <ul class="list-group">
  </ul>
</div>

<div class="form-group">
<%= f.label 'Post processing preset: ' %>
<%= f.hidden_field :post_processing_flags %>
<%= f.select :post_processing_template_id, post_processing_templates_for_select, class: "form-control" %><br/>
<span class="post_processing_preset_preview"></span>
<div class="post_processing_preset_variables"></div>
</div>

<%= plugit_link_to "Cancel", encoding_jobs_path, class: "btn btn-default" %>
<%= f.submit class: "btn btn-primary", value: "Save" %>

<% end %>
