<tr>
  <td><%= referenced_encoding_job.id %></td>
  <td><%= referenced_encoding_job.description %></td>
  <td><%= tags_for(referenced_encoding_job.combined_tags) %>
  <td><%= time_ago_in_words referenced_encoding_job.created_at %> ago</td>
  <td><%= formatted_owner(referenced_encoding_job.user) %></td>
  <td>
    <%= plugit_link_to_play(referenced_encoding_job) %>
    <%= plugit_link_to_mpd(referenced_encoding_job) %>
  </td>
</tr>