<!DOCTYPE html>
<html>
<head>
  <title>EbuOndemand</title>
  <%= stylesheet_link_tag    "#{request.headers["HTTP_X_PLUGIT_BASE_URL"]}media/application", media: "all", "data-turbolinks-track" => true %>
  <%= yield :additional_styles %>
  <%= javascript_include_tag "#{request.headers["HTTP_X_PLUGIT_BASE_URL"]}media/application", "data-turbolinks-track" => true %>
  <%= yield :additional_scripts %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body data-controller="<%= "#{params[:controller]}" %>" data-action="<%= "#{params[:action]}" %>">
  <%= render 'layouts/navigation' %>

  <main role="main">
    <div class="container">
      <%= render 'layouts/flash' %>
      <%= yield %>
  </div>
  </main>
</body>
</html>
