<!DOCTYPE html>
<html ng-app="DashPlayer">
<head>
  <title>EBU on-demand test engine</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= yield :additional_styles %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield :additional_scripts %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="DashController" data-controller="<%= "#{params[:controller]}" %>" data-action="<%= "#{params[:action]}" %>">
  <div class="container">
  <%= render 'layouts/navigation' %>

  <div id="wrapper" data-controller="<%= "#{params[:controller]}" %>" data-action="<%= "#{params[:action]}" %>">
  <main role="main">
      <%= render 'layouts/flash' %>
      <%= yield %>
  </main>
  </div>
  
  <div id="csrf_proxy" data-csrf-param="csrfmiddlewaretoken" data-csrf-token="{~__PLUGIT_CSRF_TOKEN__~}">

</body>
</html>
