<div id="plugit_wrapper" data-controller="<%= "#{params[:controller]}" %>" data-action="<%= "#{params[:action]}" %>">
  <%= stylesheet_link_tag    "#{@plugit_base_uri}media/application", media: "all" %>
  <%= javascript_include_tag "#{@plugit_base_uri}media/application" %>

  <%= render 'layouts/navigation' %>

  <main role="main">
    <%= render 'layouts/flash' %>
    <%= yield %>
    
    <% if Rails.env.development? || Rails.env.development_remote? %>
    <pre><%= @plugit_env.inspect %></pre>
    <% end %>
  </main>
</div>

<div id="csrf_proxy" data-csrf-param="csrfmiddlewaretoken" data-csrf-token="{~__PLUGIT_CSRF_TOKEN__~}">